{% extends 'base.html' %}
{% block content %}
<div class="hide">
    <div class="container">
        <div class="page_location_posted">

            <div class="row m-2 pt-2">
                <div class="col">
                    <h3>РКО (хоз.расходы)</h3>
                </div>
            </div>
            <!-- =====================Alert Messages Module=================== -->
            <div class="container">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    <!-- <button class="close" data-dismiss="alert">
                        <small><sup>x</sup></small>
                    </button> -->
                    {{ message }}
                </div>
                {% endfor%}
                {% endif%}
            </div>
            <!-- ===================End of Alert Messages Module================ -->


            <div class="row m-2 pb-2">
                <div class="col-12 border rounded pb-3 ">


                    <form action="{% url 'change_cash_off_expenses_posted' document.id %}" method="POST">
                        {% csrf_token %}

                    
                        <div class="form-row m-2">
                            <div class="col-3">
                                <label for="date">
                                    <h5>Дата</h5>
                                </label>
                            </div>
                            <div class="col">
                                <input type="datetime-local" class='form-control' id="dateTime" name="dateTime" value='{{dateTime}}' readonly>
                            </div>
                        </div>
                   


                        <div class="form-row m-2">
                            <div class="col-3">
                                <label for="shop">
                                    <h5>Торговая точка</h5>
                                </label>
                            </div>
                            <div class="col">
                                <select name="shop" id="shop" class='form-control' readonly>
                                    <!-- <option selected="true" disabled="disabled">Выберите торговую точку</option> -->
                                    <!-- <option value="">Выберите торговую точку</option> -->
                                    <option selected="true" value="{{cho.shop.id}}">{{cho.shop.name}}</option>
                                    <!-- {% for shop in shops %}
                                    <option value="{{shop.id}}">{{shop.name}}</option>
                                    {% endfor %} -->
                                </select>
                            </div>
                        </div>

                    <div class="form-row m-2">
                            <div class="col-3">
                                <label for="shop">
                                    <h5>Операция-основание</h5>
                                </label>
                            </div>
                            <div class="col">
                                <select name="expense" id="expense" class='form-control' readonly>
                                    <!-- <option selected="true" disabled="disabled">Выберите получателя</option> -->
                                    <!-- <option value="">Выберите операцию-основание</option> -->
                                    <option selected="true" value="{{cho.cash_off_reason.id}}">
                                        {{cho.cash_off_reason.name}}</option>
                                    <!-- {% for expense in expenses %}
                                    <option value="{{expense.id}}">{{expense.name}}</option>
                                    {% endfor %} -->
                                </select>
                            </div>
                        </div>

                        <div class="form-row m-2">
                            <div class="col-3">
                                <label for="sum">
                                    <h5>Сумма к выдаче</h5>
                                </label>
                            </div>
                            <div class="col">
                                <input type="number" class='form-control' id="sum" name="sum" value='{{cho.cash_out}}'
                                    readonly>
                            </div>
                        </div>
<!-- 
                        <div class="row m-2 p-2">
                            <div class="col-2">
                                <input type="submit" value="Провести" class="btn btn-sm btn-block btn-outline-dark">
                            </div> -->
                    </form>
                    
                <div class="row mt-3 ">
                        {%for group in request.user.groups.all %}
                        {%if group.name == 'admin'%}
                        <div class="col-3">
                            <a href="{% url 'unpost_cash_off_expenses' document.id %}">
                                <input type="button" value="Сделать непроведенным" class="btn btn-sm btn-block btn-outline-dark">
                            </a>
                        </div>


                        <div class="col-2">
                            <a href="{% url 'log' %}">
                                <input type="button" value="Закрыть без сохранения" class="btn btn-sm btn-block btn-outline-dark">
                            </a>
                        </div>
                        {% else %}
                        <div class="col-2">
                            <a href="{% url 'sale_interface' %}">
                                <input type="button" value="Закрыть без сохранения" class="btn btn-sm btn-block btn-outline-dark">
                            </a>
                        </div>
                        {% endif %}
                        {% endfor %}
                </div>
                        
            </div>

            </div>
        </div>

    </div>
</div>
</div>


{% endblock %}