{% extends 'base.html' %}
{% block content %}
<div class="hide">

    <div class="container">
        <div class="page_location_posted">
            <div class="row m-2 pt-2">
                <div class="col">
                    <h3>Документ {{document.title}} # {{document.id}} (проведен) </h3>
                </div>
                <!-- =====================Alert Messages Module=================== -->
                <div class="container">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                        <!-- <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button> -->
                        {{ message }}
                    </div>
                    {% endfor%}
                    {% endif%}
                </div>
                <!-- ===================End of Alert Messages Module================ -->

                <div class="col-6 border rounded p-3">
                    <form action="{% url 'check_signing_off_posted' document.id %}" method="POST" class='check_button'>
                        {% csrf_token %}
                        <div class="row m-1">
                            <div class="col-6">
                                <input type="text" class='form-control' id="check_imei" name="imei" maxlength='50'
                                    required placeholder="Введите IMEI">
                            </div>

                            <div class="col-6">
                                <input type="submit" value="Внести наименование в документ"
                                    class="btn btn-sm btn-outline-dark">
                            </div>
                        </div>
                    </form>
                </div>
          
            </div>

            <div class="row m-2 pb-2">
                <div class="col-12 border rounded p-3">

                    <form action="{% url 'change_signing_off_posted' document.id %}" method="POST" id='save_button'>
                        {% csrf_token %}

                        <div class="form-row">
                            <div class="col-6">
                                <label for="date">
                                    <h5>Текущая дата документа: {{document.created}}</h5>
                                </label>
                            </div>
                            <div class="col">
                                <input type="datetime-local" class='form-control' id="dateTime" name="dateTime"
                                    value="{{document.created}}">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-3">
                                <label for="shop">
                                    <h5>Фирма для списания</h5>
                                </label>
                            </div>
                            <div class="col">
                                <select name="shop" id="shop" class='form-control' required>
                                    <option selected="true" value="{{registers.first.shop.id}}">
                                        {{registers.first.shop.name}}</option>
                                    {% for shop in shops %}
                                    <option value="{{shop.id}}">{{shop.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class='form-inline'>
                            <div class="row m-1">
                                <div class="col-1"><label for="title">
                                        <h5>#</h5>
                                    </label></div>
                                <div class="col-2"><label for="title">
                                        <h5>IMEI</h5>
                                    </label></div>
                                <div class="col-2"><label for="title">
                                        <h5>Наименование</h5>
                                    </label></div>
                                <div class="col-1"><label for="quantity">
                                        <h5>Кол-во</h5>
                                    </label></div>
                                <div class="col-2"><label for="price">
                                        <h5>Цена</h5>
                                    </label>
                                </div>
                                <div class="col-2"><label for="sub_total">
                                        <h5>Сумма</h5>
                                    </label>
                                </div>
                            </div>
                        </div>

                        {% for register in registers %}
                        <div class="row m-auto mb-1">
                            <div class="col-1">
                                <input type="text" class='form-control' id="number" name="number"
                                    value='{{register.number}}' readonly>
                            </div>
                            <div class="col-2">
                                <input type="text" class='form-control' id="imei" name="imei"
                                    value='{{register.product.imei}}' readonly>
                            </div>
                            <div class="col-2">
                                <input type="text" class='form-control' id="name" name="name"
                                    value='{{register.product.name}}' readonly>
                            </div>
                            <div class="col-1">
                                <input type="number" class='form-control' id="quantity" name="quantity"
                                    value='{{register.quantity}}'>
                            </div>
                            <div class="col-2">
                                <input type="number" class='form-control' id="price" name="price"
                                    value='{{register.price}}' maxlength='50'>
                            </div>
                            <div class="col-2">
                                <input type="number" class='form-control' id="sub_total" name="sub_total"
                                    value='{{register.sub_total}}' maxlength='50'>
                            </div>
                            <div class="col">
                                <a href="{% url 'delete_line_posted_signing_off' register.product.imei document.id %}">
                                    <input type="button" value="Удалить" class="btn btn-sm btn-block btn-outline-dark">
                                </a>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="row m-auto mt-3 ">
                            <div class="col-2">
                                <input type="submit" value="Сохранить и провести"
                                    class="btn btn-sm btn-block btn-outline-dark">
                            </div>
                    </form>

                    <div class="col-3">
                        <a href="{% url 'unpost_signing_off' document.id %}">
                            <input type="button" value="Сделать непроведенным"
                                class="btn btn-sm btn-block btn-outline-dark clear_storage">
                        </a>
                    </div>

                    <div class="col-2">
                        <a href="{% url 'close_edited_document' document.id %}">
                            <input type="button" value="Закрыть без сохранения"
                                class="btn btn-sm btn-block btn-outline-dark clear_storage">
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</div>
</div>


<script>
    console.log('Script works');

    const imeis = document.querySelectorAll("#imei");
    const quantities = document.querySelectorAll("#quantity");
    const sub_totals = document.querySelectorAll("#sub_total");
    const prices = document.querySelectorAll("#price");

    const buttons = document.querySelectorAll('.clear_storage');
    const delete_buttons = document.querySelectorAll('.delete_line_storage');
    const shop = document.querySelector('#shop');
    //const check_button = document.querySelector('.check_button');
   
    //const check_imei = document.querySelector('#check_imei');
    //const save_button = document.querySelector('#save_button');

    //saving "Shop_receiver select option" from switching to default when updating the page
    //================================================================================================
    shop.addEventListener('change', e => {
        choice = shop.value;
        sessionStorage.setItem('shop', choice);
    })


    //changing inputs & loading changed input to session storage (via changing 'quantities')
    //================================================================================================
    for (let i = 0; i < quantities.length; i++) {
        quantities[i].addEventListener('change', e => {
            sub_totals[i].value = quantities[i].value * prices[i].value;
            let arr = []
            arr.push(imeis[i].value)
            arr.push(quantities[i].value)
            arr.push(prices[i].value)
            arr.push(sub_totals[i].value)
            sessionStorage.setItem(imeis[i].value, JSON.stringify(arr));
        })
    }

    //changing inputs & loading changed input to session storage (via changing 'prices')
    //================================================================================================
    for (let i = 0; i < prices.length; i++) {
        prices[i].addEventListener('change', e => {
            sub_totals[i].value = quantities[i].value * prices[i].value;
            let arr = []
            arr.push(imeis[i].value)
            arr.push(quantities[i].value)
            arr.push(prices[i].value)
            arr.push(sub_totals[i].value)
            sessionStorage.setItem(imeis[i].value, JSON.stringify(arr));
        })
    }

    //changing inputs & loading changed input to session storage (via changing 'sub_totals')
    //================================================================================================
    for (let i = 0; i < sub_totals.length; i++) {
        sub_totals[i].addEventListener('change', e => {
            prices[i].value = sub_totals[i].value / quantities[i].value;
            let arr = []
            arr.push(imeis[i].value)
            arr.push(quantities[i].value)
            arr.push(prices[i].value)
            arr.push(sub_totals[i].value)
            sessionStorage.setItem(imeis[i].value, JSON.stringify(arr));
        })
    }


    //updating session storage on pushing 'Delete line button'
    //===========================================================================
    for (let i = 0; i < delete_buttons.length; i++) {
        delete_buttons[i].addEventListener('click', e => {
            sessionStorage.removeItem(imeis[i].value)
        })
    }

    // getting data from session storage & passing it to html code on page reload
    //=================================================================================
    document.addEventListener('DOMContentLoaded', e => {
        for (j = 0; j < imeis.length; j++) {
            for (i = 0; i < sessionStorage.length; i++) {
                if (JSON.parse(sessionStorage.getItem(imeis[j].value))) {
                    a = JSON.parse(sessionStorage.getItem(imeis[j].value));
                    if (imeis[j].value == a[0]) {
                        quantities[j].value = a[1]
                        prices[j].value = a[2]
                        sub_totals[j].value = a[3]
                    }
                }
            }
        }
        if (sessionStorage.getItem('shop') === null) {
            console.log('No supplier choice')
        }
        else {
            choice = sessionStorage.getItem('shop');
            shop.value = choice
        }
    })


    //clearing session storage on pushing 'Submit' & 'Close without save' buttons
    //===========================================================================
    for (let button of buttons) {
        button.addEventListener('click', clearStorage);
    }
    function clearStorage(e) {
        sessionStorage.clear();
    };

    //save_button.addEventListener('submit', e => {
    //    sessionStorage.clear();
    //})


    console.log('End of the script')
</script>
{% endblock %}