{% extends 'base.html' %}
{% block content %}
<div class="hide">
    <div class="container">
        <div class="page_location">
            <!-- =====================Alert Messages Module=================== -->
            <div class="container">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    <!-- <button class="close" data-dismiss="alert">
                        <small><sup>x</sup></small>
                    </button> -->
                    {{ message }}
                </div>
                {% endfor%}
                {% endif%}
            </div>
            <!-- ===================End of Alert Messages Module================ -->

            <div class="menu">
                <h3>Инвентаризационная ведомость</h3>
            </div>
            <div class="row">
                <div class="col-5 border rounded p-3">
                    <form action="{% url 'check_inventory' identifier.id %}" method="POST" id="check_button">
                        {% csrf_token %}
                        <div class="row m-1">
                            <div class="col-6">
                                <input type="text" class='form-control' id="check_imei" name="imei" maxlength='50'
                                    required placeholder="Введите IMEI" autofocus>
                            </div>

                            <div class="col-6">
                                <input type="submit" value="Внести наименование в документ"
                                    class="btn btn-sm btn-outline-dark ">
                            </div>
                        </div>
                    </form>
                </div>

                <!-- ==============================Modal Trigger================================= -->
                <div class="col-5 border rounded p-3">
                    <button type="button" class="btn btn-sm btn-outline-dark btn_modal ">
                        Внести новое наименование в базу данных
                    </button>
                </div>
                <!-- ============================End of Modal Trigger========================= -->
            </div>

            <!-- ===========================Modal Body================================= -->
            <div class="enterDeliveryModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Введите новое наименование</h5>
                            <!-- <button type="button" class="btn_close"></button> -->
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'enter_new_product_inventory' identifier.id %}" method="POST">
                                {% csrf_token %}

                                <div class="form-row">
                                    <div class="col-3">
                                        <label for="category">Вид ТМЦ</label>
                                    </div>
                                    <div class="col">
                                        <select name="category" id="category" class='form-control' required>
                                            {% for category in categories %}
                                            <option value="{{category.id}}">{{category.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name">Наименование:</label>
                                    <input class='form-control' type="text" id="name" name="name" maxlength='100'
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="name">IMEI:</label>
                                    <input class='form-control' type="text" id="input_imei" name="imei" maxlength='100'
                                        required>
                                </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn_close" data-bs-dismiss="modal">Закрыть
                                без
                                сохранения</button>
                            <button type="submit" class="btn btn-secondary">Сохранить изменения</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- =================================End of Modal Body======================================== -->

        </div>


        <div class="log">
            <div class="row m-auto">
                <div class="col">
                    <h5>Остатки по торговой точке {{shop}} на дату: {{registers.first.created}}</h5>
                </div>
            </div>

            <div class="row m-auto">
                <div class="col-1">
                    <b>#</b>
                </div>
                <div class="col-3">
                    <b>IMEI</b>
                </div>
                <div class="col-3">
                    <b>Наименование</b>
                </div>
                <div class="col-1">
                    <b>Количество</b>
                </div>
                <div class="col-1">
                    <b>Цена розничная</b>
                </div>
                <div class="col-1">
                    <b>Реальное количество</b>
                </div>
                <div class="col-1">
                    <b>Переоценка</b>
                </div>
            </div>

            <form action="{% url 'inventory_input' identifier.id %}" method="POST">
                {% csrf_token %}
                {% for item in registers %}
                <div class="row m-auto mb-1">
                    <div class="col-1">
                        <input type="text" class='form-control' id="number" name="number" value='{{item.number}}'
                            readonly>
                    </div>
                    <div class="col-3">
                        <input type="text" class='form-control' id="imei" name="imei" value='{{item.imei}}' readonly>
                    </div>
                    <div class="col-3">
                        <input type="text" class='form-control' id="name" name="name" value='{{item.name}}' readonly>
                    </div>
                    <div class="col-1">
                        <input type="number" class='form-control' id="quantity" name="quantity"
                            value='{{item.quantity}}' readonly>
                    </div>
                    <div class="col-1">
                        <input type="number" class='form-control' id="price" name="price" value='{{item.price}}'
                            maxlength='50' readonly>
                    </div>
                    <div class="col-1">
                        <input type="number" class='form-control' id="real_qnt" name="real_qnt" maxlength='50'
                            value='{{item.real_quantity}}' required>
                    </div>
                    <div class="col-1">
                        <input type="number" class='form-control' id="reevaluation_price" name="reevaluation_price" maxlength='50'
                            value='{{item.reevaluation_price}}'>
                    </div>
                </div>
                {% endfor %}
                <div class="row m-auto mt-3 ">
                    <div class="col-1">
                        <input type="submit" value="Сохранить"
                            class="btn btn-sm btn-block btn-outline-dark clear_storage">
                    </div>
                    <div class="col-2">
                        <label for="post_check"> С проведением </label>
                        <input type="checkbox" id="post_check" name="post_check" value='checked'>
                    </div>
            </form>

            <div class="col-2">
                <a href="{% url 'close_without_save' identifier.id %}">
                    <input type="button" value="Закрыть без сохранения"
                        class="btn btn-sm btn-block btn-outline-dark clear_storage">
                </a>
            </div>
          
        </div>

    </div>
</div>


<script>
    const btn_modal = document.querySelector('.btn_modal');
    const enterDeliveryModal = document.querySelector('.enterDeliveryModal');
    const btn_close = document.querySelector('.btn_close');
    const category = document.querySelector('#category');
    const shop = document.querySelector('#shop');
    const buttons = document.querySelectorAll('.clear_storage');
    //const submit_button = document.querySelector('.clear_storage_on_submit');

    //enter_new_product
    btn_modal.addEventListener('click', openModal)
    btn_close.addEventListener('click', closeModal)

    function openModal() {
        enterDeliveryModal.classList.add('openModal')
    }

    function closeModal() {
        enterDeliveryModal.classList.remove('openModal')
    }

    //saving "Category select option" from switching to default when updating the page
    //===========================================================================
    category.addEventListener('change', e => {
        choice = category.value;
        sessionStorage.setItem('category', choice);
    })

    //saving "Category select option" from switching to default when updating the page
    //===========================================================================
    shop.addEventListener('change', e => {
        choice = shop.value;
        sessionStorage.setItem('shop', choice);
    })


    // getting data from session storage & passing it to html code on page reload
    //=================================================================================
    document.addEventListener('DOMContentLoaded', e => {
        if (sessionStorage.getItem('category') === null) {
            console.log('No category choice')
        }
        else {
            choice = sessionStorage.getItem('category');
            category.value = choice
        }
        if (sessionStorage.getItem('shop') === null) {
            console.log('No shop choice')
        }
        else {
            choice = sessionStorage.getItem('shop');
            shop.value = choice
        }
    })

    //clearing session storage on pushing 'Submit' & 'Close without save' buttons
    //===========================================================================
    for (let button of buttons) {
        button.addEventListener('click', clearStorage);
    }
    function clearStorage(e) {
        sessionStorage.clear();
    };

    /*submit_button.addEventListener('onload', e => {
        sessionStorage.clear();
    })*/


</script>

{%endblock%}