{% extends 'base.html' %}
{% block content %}
<!-- <div class="hide"> -->

<div class="container">
    <div class="page_location">
        <div class="row m-2 pt-2">
            <div class="col">
                <h3>Возврат ТМЦ</h3>
            </div>
        </div>

        <div class="row m-2">
            <div class="col-6 border rounded p-3">
                <form action="{% url 'check_return' identifier.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row m-1">
                        <div class="col-6">
                            <input type="text" class='form-control' id="imei" name="imei" maxlength='50' required
                                placeholder="Введите IMEI">
                        </div>

                        <div class="col-6">
                            <input type="submit" value="Внести наименование в документ"
                                class="btn btn-sm btn-outline-dark">
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div class="row m-2 pb-2">
            <div class="col-12 border rounded p-3">

                <form action="{% url 'return_input' identifier.id %}" method="POST">
                    {% csrf_token %}

                    {% for group in request.user.groups.all %}
                    {% if group.name == 'admin' %}
                    <div class="form-row">
                        <div class="col-2">
                            <label for="date">Дата</label>
                        </div>
                        <div class="col">
                            <input type="datetime-local" class='form-control' id="dateTime" name="dateTime"
                                value='today'><br>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}


                    <div class="form-row">
                        <div class="col-3">
                            <label for="shop">
                                <h5>Фирма</h5>
                            </label>
                        </div>
                        <div class="col">
                            <select name="shop" id="shop" class='form-control' required>
                                {% for shop in shops %}
                                <option value="{{shop.id}}">{{shop.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class='form-inline'>
                        <div class="row m-1">
                            <div class="col-2"><label for="title">
                                    <h5>IMEI</h5>
                                </label></div>
                            <div class="col-2"><label for="title">
                                    <h5>Наименование</h5>
                                </label></div>
                            <div class="col-2"><label for="quantity">
                                    <h5>Кол-во</h5>
                                </label></div>
                            <div class="col-2"><label for="price">
                                    <h5>Цена</h5>
                                </label></div>
                        </div>
                    </div>


                    {% for register in registers %}
                    <div class="row m-auto mb-1">
                        <div class="col-2">
                            <input type="text" class='form-control' id="imei" name="imei"
                                value='{{register.product.imei}}'>
                        </div>
                        <div class="col-2">
                            <input type="text" class='form-control' id="name" name="name"
                                value='{{register.product.name}}'>
                        </div>
                        <div class="col-2">
                            <input type="number" class='form-control' id="quantity" name="quantity"
                                value='{{register.quantity}}' required>
                        </div>
                        <div class="col-2">
                            <input type="number" class='form-control' id="price" name="price" maxlength='50' required>
                        </div>
                        <!-- <div class="col-2">
                    <input type="number" class='form-control' id="sub_total" name="sub_total" maxlength='50'>
                </div> -->
                        <div class="col">
                            <a href="{% url 'delete_line_return' register.product.imei identifier.id %}">
                                <input type="button" value="Удалить" class="btn btn-sm btn-block btn-outline-dark">
                            </a>
                        </div>
                    </div>
                    {% endfor %}


                    <div class="row m-auto mt-3 ">
                        <div class="col-2">
                            <input type="submit" value="Провести" class="btn btn-sm btn-block btn-outline-dark">
                        </div>
                </form>

                <div class="col-2">
                    <a href="{% url 'clear_return' identifier.id %}">
                        <input type="button" value="Очистить форму" class="btn btn-sm btn-block btn-outline-dark">
                    </a>
                </div>
                <div class="col-2">
                    <a href="{% url 'close_without_save' identifier.id %}">
                        <input type="button" value="Закрыть без сохранения"
                            class="btn btn-sm btn-block btn-outline-dark">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}