{% extends 'base.html' %}
{% block content %}

<div class="container">
        <div class="log border m-auto mt-1 rounded p-3" style="background-color:rgb(215, 215, 215); height: 7Vh" >
            <div class="row">
                <h5>Мои документы ({{request.user.last_name}} {{request.user.first_name}}) за {{date_1}}</h5>
            </div>
        </div>
    
    <div class="log border m-auto mt-1 rounded p-3"style="background-color:rgb(215, 215, 215); height: 7Vh" >
        <div class="row">
            <div class="col-1"><h5>Статус</h5></div>
            <div class="col-2"><h5>Дата/Время</h5></div>
            <div class="col-2"><h5>Документ</h5></div>
            <div class="col-2"><h5>Сумма</h5></div>
            <div class="col-2"><h5>Доп. инфо</h5></div>
            <div class="col-2"><h5>Автор</h5></div>
        </div>
    </div>
    

<div class="log border rounded mt-0 mb-2" style=" height: 68vh; overflow: auto;">
    
{% for document in queryset_list %}
<div class="row mt-1">
    

        <div class="col-1">
            {% if document.posted == True %}
            <i class="far fa-check-square"></i>
            {% else %}
            <!-- <input type="checkbox" id="post_check" name="post_check" readonly> -->
            <i class="far fa-square"></i>
            {% endif %}
        </div>

        <div class="col-2">
                {{document.created}}
        </div>

<!-- ==============================Document Column================================================== -->
        {% if document.title.name == 'Поступление ТМЦ' %}
            {% if document.posted == True %}
        <div class="col-2"><a href="{% url 'change_delivery_posted' document.id %}">{{document.title}} #{{document.id}}</a></div>
            {% else %}
        <div class="col-2"><a href="{% url 'change_delivery_unposted' document.id %}">{{document.title}} {{document.id}}</a></div>
            {% endif %}

        {% elif document.title.name == 'Перемещение ТМЦ' %}
            {% if document.posted == True %}
        <div class="col-2"><a href="{% url 'change_transfer_posted' document.id %}">{{document.title}} {{document.id}}</a></div>
            {% else %}
        <div class="col-2"><a href="{% url 'change_transfer_unposted' document.id %}">{{document.title}} {{document.id}}</a></div>
            {% endif %}

        {% elif document.title.name == 'Возврат ТМЦ' %}
        {% if document.posted == True %}
        <div class="col-2"><a href="{% url 'change_return_posted' document.id %}">{{document.title}} {{document.id}}</a></div>
        {% else %}
        <div class="col-2"><a href="{% url 'change_return_unposted' document.id %}">{{document.title}} {{document.id}}</a>
        </div>
        {% endif %}

        {% elif document.title.name == 'Оприходование ТМЦ' %}
        {% if document.posted == True %}
        <div class="col-2"><a href="{% url 'change_recognition_posted' document.id %}">{{document.title}} {{document.id}}</a></div>
        {% else %}
        <div class="col-2"><a href="{% url 'change_recognition_unposted' document.id %}">{{document.title}} {{document.id}}</a>
        </div>
        {% endif %}

        {% elif document.title.name == 'Списание ТМЦ' %}
        {% if document.posted == True %}
        <div class="col-2"><a href="{% url 'change_signing_off_posted' document.id %}">{{document.title}} {{document.id}}</a>
        </div>
        {% else %}
        <div class="col-2"><a href="{% url 'change_signing_off_unposted' document.id %}">{{document.title}} {{document.id}}</a>
        </div>
        {% endif %}
        {% elif document.title.name == 'ПКО' %}
        {% if document.posted == True %}
        <div class="col-2"><a href="{% url 'change_cash_receipt_posted' document.id %}">{{document.title}} {{document.id}}</a>
        </div>
        {% else %}
        <div class="col-2"><a href="{% url 'change_cash_receipt_unposted' document.id %}"> {{document.title}} {{document.id}}</a>
        </div>
        {% endif %}
        {% elif document.title.name == 'ПКО' %}
        {% if document.posted == True %}
        <div class="col-2"><a href="{% url 'change_cash_off_salary_posted' document.id %}">{{document.title}} {{document.id}}</a>
        </div>
        {% else %}
        <div class="col-2"><a href="{% url 'change_cash_off_salary_unposted' document.id %}"> {{document.title}}{{document.id}}</a>
        </div>
        {% endif %}

        {% elif document.title.name == 'Перемещение денег' %}
        {% if document.posted == True %}
        <div class="col-2"><a href="{% url 'change_cash_movement_posted' document.id %}">{{document.title}}{{document.id}}</a>
        </div>
        {% else %}
        <div class="col-2"><a href="{% url 'change_cash_movement_unposted' document.id %}">
        {{document.title}}{{document.id}}</a>
        </div>
        {% endif %}

        {% elif document.title.name == 'РКО (хоз.расходы)' %}
        {% if document.posted == True %}
        <div class="col-2"><a href="{% url 'change_cash_off_expenses_posted' document.id %}">{{document.title}}{{document.id}}</a>
        </div>
        {% else %}
        <div class="col-2"><a href="{% url 'change_cash_off_expenses_unposted' document.id %}">
                {{document.title}}{{document.id}}</a>
        </div>
        {% endif %}

        
        {% elif document.title.name == 'Продажа ТМЦ' %}
        {% if document.posted == True %}
        <div class="col-2"><a href="{% url 'change_sale_posted' document.id %}">{{document.title}} {{document.id}}</a>
        </div>
        {%else%}
        <div class="col-2"><a href="{% url 'change_sale_unposted' document.id %}">{{document.title}} {{document.id}}</a>
        </div>
        {% endif %}
        
        {% elif document.title.name == 'РКО (зарплата)' %}
        {% if document.posted == True %}
        <div class="col-2"><a href="{% url 'change_cash_off_salary_posted' document.id %}">{{document.title}} {{document.id}}</a>
        </div>
        {%else%}
        <div class="col-2"><a href="{% url 'change_cash_off_salary_unposted' document.id %}">{{document.title}} {{document.id}}</a>
        </div>
        {% endif %}

        {% endif %}

       <!-- ============================Document Sum Column============================================ -->
        <div class="col-2">
            {{document.sum}} руб.
        </div>
        <!-- =========================Additional Info Column=============================================== -->

        {% if document.title.name == 'Поступление ТМЦ' %}
            {% if document.posted == True %}
        <div class="col-2">{{document.remainderhistory_set.first.shop}} </div>
            {% else %}
        <div class="col-2">{{document.shop_receiver}} </div>
            {% endif %}

        {% elif document.title.name == 'Перемещение ТМЦ' %}
            {% if document.posted == True %}
                <div class="col-2">C {{document.remainderhistory_set.first.shop}} на {{document.remainderhistory_set.last.shop}}  </div>
            {% else %}
        <div class="col-2">{{document.shop_sender}} на {{document.shop_receiver}} </div>
            {% endif %}

        {% elif document.title.name == 'Возврат ТМЦ' %}
        {% if document.posted == True %}
        <div class="col-2">{{document.remainderhistory_set.first.shop}} </div>
        {% else %}
        <div class="col-2">{{document.shop_receiver}} </div>
        {% endif %}

        {% elif document.title.name == 'Оприходование ТМЦ' %}
        {% if document.posted == True %}
        <div class="col-2">{{document.remainderhistory_set.first.shop}} </div>
        {% else %}
        <div class="col-2">{{document.shop_receiver}} </div>
        {% endif %}

        {% elif document.title.name == 'Списание ТМЦ' %}
        {% if document.posted == True %}
        <div class="col-2">{{document.remainderhistory_set.first.shop}} </div>
        {% else %}
        <div class="col-2">{{document.shop_sender}} </div>
        {% endif %}


        {% elif document.title.name == 'Продажа ТМЦ' %}
        {% if document.posted == True %}
        <div class="col-2">{{document.remainderhistory_set.first.shop}} </div>
        {% else %}
        <div class="col-2">{{document.shop_sender}} </div>
        {% endif %}

        {% elif document.title.name == 'Перемещение денег' %}
        {% if document.posted == True %}
        <div class="col-2">C {{document.cash_set.first.shop}} на {{document.cash_set.last.shop}} </div>
        {% else %}
        <div class="col-2">{{document.shop_sender}} </div>
        {% endif %}

        {% elif document.title.name == 'РКО (хоз.расходы)' %}
        {% if document.posted == True %}
        <div class="col-2">{{document.cash_set.first.shop}} </div>
        {% else %}
        <div class="col-2">{{document.shop_sender}} </div>
        {% endif %}

        {% elif document.title.name == 'РКО (зарплата)' %}
        {% if document.posted == True %}
        <div class="col-2">{{document.cash_set.first.shop}} </div>
        {% else %}
        <div class="col-2">{{document.shop_sender}} </div>
        {% endif %}


        {% endif %}

<!-- ===============================Author column===========================================       -->
        <div class="col-2">{{document.user.first_name}} {{document.user.last_name}}</div>
</div>
{% endfor %} 
    

</div>
</div>
{% endblock %}