{% extends 'base.html' %}
{% block content %}
<div class="hide">

    <div class="container">

        <div class="page_location_search">
            <!-- =====================Alert Messages Module=================== -->
            <div class="container">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    <!-- <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button> -->
                    {{ message }}
                </div>
                {% endfor%}
                {% endif%}
            </div>
            <!-- ===================End of Alert Messages Module================ -->


            <div class="row m-2">
                <div class="col-11 border rounded p-3 m-2">

                    <form action="{% url 'search' %}" method="POST">
                        {% csrf_token %}
                        <div class="row m-2">
                            <div class="col-12">
                                <input type="text" class='form-control' id="check_imei" name="imei" maxlength='50' required placeholder="Поиск по наименованию" autofocus>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-12">
                                <input type="text" class='form-control' id="check_imei" name="imei" maxlength='50' required
                                    placeholder="Поиск по IMEI">
                            </div>
                        </div>

                        <div class="row m-2 ">
                            <div class="col-4 m-1">
                                <input type="submit" value="Поиск"
                                    class="btn btn-sm btn-block btn-outline-dark" >
                            </div>
                            <div class="col-4 m-1">
                            <a href="{% url 'log' %}">
                                <input type="button" value="Закрыть" class="btn btn-sm btn-block btn-outline-dark">
                            </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}