{% extends 'base.html' %}
{% block content %}
<div class="hide">

    <div class="container">

        <div class="page_location_search">
            <!-- =====================Alert Messages Module=================== -->
            <div class="container">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    <!-- <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button> -->
                    {{ message }}
                </div>
                {% endfor%}
                {% endif%}
            </div>
            <!-- ===================End of Alert Messages Module================ -->


            <div class="row m-2">
                <div class="col-11 border rounded p-3 m-2">

                    <form action="{% url 'search' %}" method="POST" class= 'submit_event'>
                        {% csrf_token %}
                        <div class="row m-2">
                            <div class="col-12">
                                <input type="text" class='form-control' id="keyword" name="keyword" maxlength='50' required placeholder="Поиск по наименованию" autofocus>
                            </div>
                        </div>

                        <div class="row m-2 ">
                            <div class="col-4 m-1">
                                <input type="submit" value="Поиск"
                                    class="btn btn-sm btn-block btn-outline-dark click_event" >
                            </div>
                            <div class="col-4 m-1">
                            {%for group in request.user.groups.all%}
                            {%if group.name == 'sales' %}
                            <a href="{% url 'sale_interface' %}">
                                <input type="button" value="Закрыть" class="btn btn-sm btn-block btn-outline-dark">
                            </a>
                            {% else %}
                            <a href="{% url 'log' %}">
                                <input type="button" value="Закрыть" class="btn btn-sm btn-block btn-outline-dark">
                            </a>
                            {%endif%}
                            {% endfor %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        <!-- ===========================Modal Body================================= -->
        <div class="enterDeliveryModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Текущие остатки</h5>
                        <!-- <button type="button" class="btn_close"></button> -->
                    </div>
                    <div class="modal-body">
                        <div class="row ">
                        <div class="col-2">Торговая точка</div>
                        <div class="col-2">Наименование</div>
                        <div class="col-2">IMEI</div>
                        <div class="col-2">Количество</div>
                        </div>      
                  
                    <div class="row">
                    <div class="col-12 border rounded p-3 m-auto">
                        {% for remainder in remainders %}
                        <div class="row">
                            <div class="col-2">
                                {{remainder.shop}}
                            </div>
                            <div class="col-2">
                                {{remainder.name}}
                            </div>
                            <div class="col-2">
                                {{remainder.imei}}
                            </div>
                            <div class="col-2">
                                {{remainder.current_remainder}}
                            </div>
                        </div>
                        {% endfor %}
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn_close" data-bs-dismiss="modal">Закрыть</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- =================================End of Modal Body======================================== -->

        </div>
    </div>
</div>
</div>
</div>

{% endblock %}