{% extends 'base.html' %}
{% block content %}
<div class="hide">

<div class="container">

    <div class="page_location">
    <div class="row m-2 pt-2">
        <div class="col">
            <h3>Введите IMEI оборудования с EAN {{sku.ean}}; 
            <br>Наименование: {{sku.name}}</h3>
        </div>
    </div>
    <!-- =====================Alert Messages Module=================== -->
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">
            <!-- <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button> -->
            {{ message }}
        </div>
        {% endfor%}
        {% endif%}
    </div>
    <!-- ===================End of Alert Messages Module================ -->

<div class="row m-2">
    <div class="col-6 border rounded p-3">
       
        <form action="{%url 'sku_product_register_create' sku.id identifier.id%}" method="POST" id="check_button">
        {% csrf_token %}
        <div class="row m-1">
        <div class="col-6">
            <input type="text" class='form-control' id="check_imei" name="imei" maxlength='50' required placeholder="Введите IMEI" autofocus>
        </div>
    
        <div class="col-6">
            <input type="submit" value="Внести наименование в документ" class="btn btn-sm btn-outline-dark ">
        </div> 
        </div>
    </form>
    </div>  
</div>     

<div class="row m-2 pb-2">
    <div class="col-12 border rounded p-3">

    <form action="{% url 'sku_imei_link' sku.id identifier.id %}" method="POST" id='save_button'>
            {% csrf_token %}

            <div class='form-inline'>
                <div class="row m-1">
                    <div class="col-1"><label for="number"><h5>#</h5></label></div>
                    <div class="col-2"><label for="imei"><h5>EAN</h5></label></div>
                    <div class="col-2"><label for="name"><h5>Наименование</h5></label></div>
                    <div class="col-1"><label for="quantity"><h5>IMEI</h5></label></div>
                </div>
            </div>

        
    {% for register in registers %}
    <div class="row m-auto mb-1">
        <div class="col-1">
            <input type="text" class='form-control' id="number" name="number" value='{{register.number}}' readonly>
        </div>
        <div class="col-2">
            <input type="text" class='form-control' id="ean" name="ean" value='{{register.sku.ean}}'readonly >
        </div>
        <div class="col-2">
            <input type="text" class='form-control' id="name" name="name" value='{{register.sku.name}}'readonly >
        </div>
        <div class="col-2">
            <input type="text" class='form-control' id="imei" name="imei" value='{{register.imei}}'readonly >
        </div>
     
    
     
        <div class="col-1">
            <a href="{% url 'delete_line_sku_imei_register' sku.id register.imei identifier.id %}">
                <input type="button" value="Удалить" class="btn btn-sm btn-block btn-outline-dark delete_line_storage">
            </a>
        </div>
    </div>
    {% endfor %}
        

        <div class="row m-auto mt-3 ">
            <div class="col-2">
                <input type="submit" value="Создать наименования" class="btn btn-sm btn-block btn-outline-dark">
            </div>
            <!-- <div class="col-2">
            <label for="post_check"> С проведением </label>
            <input type="checkbox" id="post_check" name="post_check" value='checked'>
            </div> -->
    </form>
            
            <div class="col-2">
                    <a href="{% url 'clear_sku_imei_link' sku.id identifier.id %}">
                        <input type="button" value="Очистить форму" class="btn btn-sm btn-block btn-outline-dark clear_storage">
                    </a>
            </div>
            <div class="col-2">
                <a href="{% url 'close_without_save' identifier.id %}">
                    <input type="button" value="Закрыть без сохранения" class="btn btn-sm btn-block btn-outline-dark clear_storage ">
                </a>
            </div>

        </div>
    </div>
    </div>
</div>
</div>
</div>

<script>
    console.log('Script works');

    
  
    const enterDeliveryModal =document.querySelector('.enterDeliveryModal');
    const enterSKUModal =document.querySelector('.enterSKUModal');
    const btn_close =document.querySelector('.btn_close');
    const btn_close_sku =document.querySelector('.btn_close_sku');
    const btn_modal =document.querySelector('.btn_modal');
    const btn_modal_sku =document.querySelector('.btn_modal_sku');

    const imeis = document.querySelectorAll("#imei");
    const quantities = document.querySelectorAll("#quantity");
    const sub_totals = document.querySelectorAll("#sub_total");
    const prices = document.querySelectorAll("#price");
    const buttons = document.querySelectorAll('.clear_storage');
    const save_button = document.querySelector('#save_button');
    const delete_buttons = document.querySelectorAll('.delete_line_storage');
    const check_button = document.querySelector('#check_button');
    const supplier = document.querySelector('#supplier');
    const check_imei = document.querySelector('#check_imei');
   
    // ===============================================
    btn_modal.addEventListener('click', openModal)
    btn_close.addEventListener('click', closeModal)

    function openModal (){
        enterDeliveryModal.classList.add('openModal')
    }

    function closeModal() {
        enterDeliveryModal.classList.remove('openModal')
    }
    //===================================================

    btn_modal_sku.addEventListener('click', openModal_sku)
    btn_close_sku.addEventListener('click', closeModal_sku)

    function openModal_sku (){
        enterSKUModal.classList.add('openModal')
    }

    function closeModal_sku() {
        enterSKUModal.classList.remove('openModal')
    }
    //====================================================


//saving "Supplier select option" from switching to default when updating the page
//===========================================================================
    supplier.addEventListener('change', e=>{
        choice = supplier.value;
        sessionStorage.setItem('supplier', choice);
    })

    
   //Making register_imei field red when entering the same imei in check_imei field
   // =================================================================================
    check_button.addEventListener('submit', e=> {
        imei_input=check_imei.value
        for (i=0; i<imeis.length; i++){
            if (imeis[i].value == imei_input) {
                imeis[i].classList.add('imei')
                //check_imei.value.clear()
                //e.preventDefault()
            }
    } 
   })
   //returning cursor back to check_imei field
   check_imei.select();

    //window.location.reload()


    //changing inputs & loading changed input to session storage (via changing 'quantities')
    //================================================================================================
    for (let i = 0; i < quantities.length; i++) {
        quantities[i].addEventListener('change', e => {
            sub_totals[i].value = quantities[i].value * prices[i].value;
            let arr = []
            arr.push(imeis[i].value)
            arr.push(quantities[i].value)
            arr.push(prices[i].value)
            arr.push(sub_totals[i].value)
            sessionStorage.setItem(imeis[i].value, JSON.stringify(arr));
        })
    }

  //changing inputs & loading changed input to session storage (via changing 'prices')
    //================================================================================================
    for (let i = 0; i < prices.length; i++) {
        prices[i].addEventListener('change', e => {
            sub_totals[i].value = quantities[i].value * prices[i].value;
            let arr = []
            arr.push(imeis[i].value)
            arr.push(quantities[i].value)
            arr.push(prices[i].value)
            arr.push(sub_totals[i].value)
            sessionStorage.setItem(imeis[i].value, JSON.stringify(arr));
        })
    }

    //changing inputs & loading changed input to session storage (via changing 'sub_totals')
    //================================================================================================
    for (let i = 0; i < sub_totals.length; i++) {
        sub_totals[i].addEventListener('change', e => {
            prices[i].value = sub_totals[i].value / quantities[i].value;
            let arr = []
            arr.push(imeis[i].value)
            arr.push(quantities[i].value)
            arr.push(prices[i].value)
            arr.push(sub_totals[i].value)
            sessionStorage.setItem(imeis[i].value, JSON.stringify(arr));
        })
    }


    //updating session storage on pushing 'Delete line button'
    //===========================================================================
    for (let i = 0; i<delete_buttons.length; i++) {
        delete_buttons[i].addEventListener('click', e=> {
            sessionStorage.removeItem(imeis[i].value)
        })
    }
          
    // getting data from session storage & passing it to html code on page reload
    //=================================================================================
    document.addEventListener('DOMContentLoaded', e => {
        for (j=0; j<imeis.length; j++){
            for (i = 0; i < sessionStorage.length; i++) {
                if (JSON.parse(sessionStorage.getItem(imeis[j].value))){
                    a = JSON.parse(sessionStorage.getItem(imeis[j].value));
                    if (imeis[j].value == a[0]){
                        quantities[j].value=a[1]
                        prices[j].value=a[2]
                        sub_totals[j].value=a[3]
                    }
                }
            }
        }
        if (sessionStorage.getItem('supplier') === null) {
            console.log('No supplier choice')
        }
        else {
            choice = sessionStorage.getItem('supplier');
            supplier.value = choice
        }
    })
        
    //clearing session storage on pushing 'Submit' & 'Close without save' buttons
    //buttons correspond to .clear_storage class
    for (let button of buttons) {
        button.addEventListener('click', clearStorage);
    }
    function clearStorage(e) {
        sessionStorage.clear();
    };

    save_button.addEventListener('submit', e=> {
        sessionStorage.clear();
   })



console.log ('End of the script')
</script>
{% endblock %}
