{% extends 'base.html' %}
{% block content %}
<div class="hide">

    <div class="container">
        <div class="page_location">

    <div class="row m-2 pt-2">
        <div class="col">
            <h3>Пeремещение ТМЦ</h3>
            Для членов группы 'sales' перемещение производится по умолчанию с ООС на точку, указанную при входе в систему. При вводе розничной цены, отличной от той, которая хранится в CurrentRemainder, розничная цена изменяется на введенную.
        </div>
    </div>
    <!-- =====================Alert Messages Module=================== -->
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">
            <!-- <button class="close" data-dismiss="alert">
                        <small><sup>x</sup></small>
                    </button> -->
            {{ message }}
        </div>
        {% endfor%}
        {% endif%}
    </div>
    <!-- ===================End of Alert Messages Module================ -->

    <div class="row m-2 ">
        <div class="col-12 border rounded p-3 ">
        <form action="{% url 'check_transfer' identifier.id %}" method='POST'>
            {% csrf_token %}
            <div class="row m-1">
                <div class="col-3">
                    <input type="text" class='form-control' id="check_imei" name="check_imei" maxlength='50' required placeholder='Введите IMEI'>
                </div>
                <!-- <div class="col-3">
                    <input type="number" class='form-control' id="quantity" name="quantity"  required value=1>
                </div> -->

                <!-- <div class="col-4">
                <select name="shop" id="shop" class='form-control' required>
                <option selected="true" value="{{shop_default.id}}">
                    {{shop_default.name}}</option>
                    {% for shop in shops %}
                    <option value="{{shop.id}}">{{shop.name}}</option>
                    {% endfor %}
                </select>
                </div> -->

                <div class="col-3">
                    <input type="submit" value="Ввести IMEI" class="btn btn-block btn-outline-dark">
                </div>
            </div>
        </form>
        </div>
    </div>

    <div class="row m-2 pb-2">
        <div class="col-12 border rounded p-3">
            <form action="{% url 'transfer_input' identifier.id %}" method='POST'>
                {% csrf_token %}

        {% for group in request.user.groups.all %}
        {% if group.name == 'admin' %}
                <div class="form-row">
                    <div class="col-2">
                        <label for="dateTime">Дата</label>
                    </div>
                    <div class="col">
                        <input type="datetime-local" class='form-control' id="dateTime" name="dateTime" value='today'><br>
                    </div>
                </div>
       

                <div class="form-row">
                    <div class="col-3">
                        <label for="shop"><h5>Фирма отправитель</h5></label>
                    </div>
                    <div class="col">
                        <select name="shop_sender" id="shop_sender" class='form-control'>
                            <option value="{{shop_default.id}}">{{shop_default.name}}</option>
                            {% for shop in shops %}
                            <option value="{{shop.id}}">{{shop.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="form-row">
                    <div class="col-3">
                        <label for="shop_receiver"><h5>Фирма получатель</h5></label>
                    </div>
                    <div class="col">
                        <select name="shop_receiver" id="shop_receiver" class='form-control' required>
                            <option value="">Выберите фирму получатель</option>
                            {% for shop in shops %}
                            <option value="{{shop.id}}">{{shop.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
        {% endif %}
        {% endfor %}

               
        <div class="row m-2">
            <div class="col-1"><label for="number"><h5>#</h5></label></div>
            <div class="col-2"><label for="imei"><h5>IMEI</h5></label></div>
            <div class="col-2"><label for="name"><h5>Наименование</h5></label></div>
            <div class="col-1"><label for="qnt"><h5>Кол-во</h5></label></div>
            <div class="col-2"><label for="retail_price"><h5>Розничная цена</h5></label></div>
            <div class="col-2"><label for="sum"><h5>Сумма</h5></label></div>  
        </div>
              
                {% for register in registers %}

                <div class="row m-2">
                  
                    <div class="col-1">
                        <input type="text" class='form-control' id="number" name="number" value='{{register.number}}' readonly>
                    </div>
                    <div class="col-2">
                        <input type="text" class='form-control' id="imei" name="imei" value='{{register.product.imei}}' readonly>
                    </div>
                    <div class="col-2">
                        <input type="text" class='form-control' id="name" name="name" value='{{register.product.name}}' readonly>
                    </div>
                    <div class="col-1">
                        <input type="text" class='form-control' id="quantity" name="quantity" value={{register.quantity}} required>
                    </div>
                    <div class="col-2">
                        <input type="number" class='form-control' id="price" name="price" required value={{register.price}}>
                    </div>
                    <div class="col-2">
                        <input type="number" class='form-control' id="sub_total" name="sub_total" value={{register.sub_total}}>
                    </div>
                    <div class="col">
                        <a href="{% url 'delete_line_transfer' register.product.imei identifier.id %}">
                            <input type="button" value="Удалить" class="btn btn-block btn-outline-dark delete_line_storage  ">
                        </a>
                    </div>
                </div>
                {% endfor %}


        <div class="row m-auto mt-3">
                    <div class="col-1">
                    <input type="submit" value="Сохранить" class="btn btn-sm btn-block btn-outline-dark">
                </div>
                {% for group in request.user.groups.all %}
                {%if group.name == 'admin' %}
                <div class="col-2">
                    <label for="post_check"> С проведением </label>
                    <input type="checkbox" id="post_check" name="post_check" value='checked'>
                </div>
                {% else %}
                    <div class="col-2">
                    <input type="checkbox" id="post_check" name="post_check" checked hidden>
                </div>
                {% endif %}
                {% endfor %}

            </form>
               <div class="col-2">
                    <a href="{% url 'close_without_save' identifier.id %}">
                        <input type="button" value="Закрыть без сохранения" class="btn btn-sm btn-block btn-outline-dark clear_storage ">
                    </a>
                </div>
              <div class="col-2">
                    <a href="{% url 'clear_transfer' identifier.id %}">
                        <input type="button" value="Очистить форму" class="btn btn-sm btn-block btn-outline-dark clear_storage">
                    </a>
                </div>
        </div>
    </div>
    </div>
</div>
</div>
</div>


<script>
    console.log('OK')

    const imeis = document.querySelectorAll("#imei");
    const quantities = document.querySelectorAll("#quantity");
    const sub_totals = document.querySelectorAll("#sub_total");
    const prices = document.querySelectorAll("#price");
    const shop_sender = document.querySelector('#shop_sender');
    const shop_receiver = document.querySelector('#shop_receiver');
    const buttons = document.querySelectorAll('.clear_storage');
    const save_button = document.querySelector('#save_button');
    const delete_buttons = document.querySelectorAll('.delete_line_storage');

    //const val= typeof quantities

    //changing inputs & loading changed input to session storage (via changing 'quantities')
    //================================================================================================
    for (let i = 0; i < quantities.length; i++) {
        quantities[i].addEventListener('change', e => {
            sub_totals[i].value = quantities[i].value * prices[i].value;
            let arr = []
            arr.push(imeis[i].value)
            arr.push(quantities[i].value)
            arr.push(prices[i].value)
            arr.push(sub_totals[i].value)
            sessionStorage.setItem(imeis[i].value, JSON.stringify(arr));
        })
    }

    //changing inputs & loading changed input to session storage (via changing 'prices')
    //================================================================================================
    for (let i = 0; i < prices.length; i++) {
        prices[i].addEventListener('change', e => {
            sub_totals[i].value = quantities[i].value * prices[i].value;
            let arr = []
            arr.push(imeis[i].value)
            arr.push(quantities[i].value)
            arr.push(prices[i].value)
            arr.push(sub_totals[i].value)
            sessionStorage.setItem(imeis[i].value, JSON.stringify(arr));
        })
    }

    //changing inputs & loading changed input to session storage (via changing 'sub_totals')
    //================================================================================================
    for (let i = 0; i < sub_totals.length; i++) {
        sub_totals[i].addEventListener('change', e => {
            prices[i].value = sub_totals[i].value / quantities[i].value;
            let arr = []
            arr.push(imeis[i].value)
            arr.push(quantities[i].value)
            arr.push(prices[i].value)
            arr.push(sub_totals[i].value)
            sessionStorage.setItem(imeis[i].value, JSON.stringify(arr));
        })
    }
    //saving "Shop_sender select option" from switching to default when updating the page
    //================================================================================================
    shop_sender.addEventListener('change', e => {
        choice = shop_sender.value;
        sessionStorage.setItem('shop_sender', choice);
    })

    //saving "Shop_receiver select option" from switching to default when updating the page
    //================================================================================================
    shop_receiver.addEventListener('change', e => {
        choice = shop_receiver.value;
        sessionStorage.setItem('shop_receiver', choice);
    })

    // getting data from session storage & passing it to html code on page reload
    //=================================================================================
    document.addEventListener('DOMContentLoaded', e => {
        for (j = 0; j < imeis.length; j++) {

            for (i = 0; i < sessionStorage.length; i++) {
                if (JSON.parse(sessionStorage.getItem(imeis[j].value))) {
                    a = JSON.parse(sessionStorage.getItem(imeis[j].value));
                    if (imeis[j].value == a[0]) {
                        quantities[j].value = a[1]
                        prices[j].value = a[2]
                        sub_totals[j].value = a[3]
                    }
                }
            }
        }

        if (sessionStorage.getItem('shop_sender') === null) {
            console.log('No shop_sender choice')
        }
        else {
            choice = sessionStorage.getItem('shop_sender');
            shop_sender.value = choice;
        }

        if (sessionStorage.getItem('shop_receiver') === null) {
            console.log('No shop_receiver choice')
        }
        else {
            choice = sessionStorage.getItem('shop_receiver');
            shop_receiver.value = choice
        }

    })

    //updating session storage on pushing 'Delete line button'
    //===========================================================================
    for (let i = 0; i < delete_buttons.length; i++) {
        delete_buttons[i].addEventListener('click', e => {
            sessionStorage.removeItem(imeis[i].value)
        })
    };


    //clearing session storage on pushing 'Submit' & 'Close without save' buttons
    //===========================================================================
    for (let button of buttons) {
        button.addEventListener('click', clearStorage);
    }
    function clearStorage(e) {
        sessionStorage.clear();
    };

    //save_button.addEventListener('submit', e => {
    //  sessionStorage.clear();
    //})

    console.log('oky')
</script>
{%endblock%}