<nav class=" navbar navbar-expand-lg navbar-dark bg-primary">
<!-- <nav class=" navbar navbar-dark bg-primary"> -->
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ООО Ритейл</a>

{% for group in request.user.groups.all %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

{% if group.name == 'admin' %}
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Журнал докуметов
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'log' %}">Документы</a></li>
                        </ul>
                     </li>

                     



            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Отчеты
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'sale_report_analytic' %}">Аналитика в разрезе продаж</a></li>
                    <li><a class="dropdown-item" href="{% url 'sale_report_per_shop' %}">Продажи по точкам для Арины</a></li>
                    <li><a class="dropdown-item" href="{% url 'daily_report' %}">Отчет за день в Excel</a></li>
                    <li><a class="dropdown-item" href="{% url 'daily_pay_card_rep_general' %}">Отчет по КЭО в Excel</a></li>
                    <li><a class="dropdown-item" href="{% url 'delivery_report' %}">Отчет по закупкам</a></li>
                    <li><a class="dropdown-item" href="{% url 'remainder_report' %}" >Отчет по остаткам на дату</a></li>
                    <li><a class="dropdown-item" href="{% url 'remainder_report_dynamic' %}">Отчет по остаткам динамический</a></li>
                    <li><a class="dropdown-item" href="{% url 'item_report' %}">Отчет по движению ТМЦ</a></li>
                    <li><a class="dropdown-item" href="{% url 'bonus_report' %}">Общий бонус за месяц</a></li>
                    <li><a class="dropdown-item" href="{% url 'number_of_work_days' %}">Кол-во смен в месяц</a></li>
                    <li><a class="dropdown-item" href="{% url 'salary_report' %}">Отчет по ФОТ</a></li>
                    <li><a class="dropdown-item" href="{% url 'cash_back_bonus' %}">Бонус за кэшбэк</a></li>
                    <li><a class="dropdown-item" href="{% url 'payment_report' %}">Отчет по типам оплаты</a></li>
                    <li><a class="dropdown-item" href="{% url 'cash_report' %}">Отчет по движению наличных</a></li>
                    <li><a class="dropdown-item" href="{% url 'card_report' %}">Отчет по оплате картами</a></li>
                    <li><a class="dropdown-item" href="{% url 'credit_report' %}">Отчет по продажам в кредит</a></li>
                    <li><a class="dropdown-item" href="{% url 'cashback_rep' %}">Клиенты кэшбэк</a></li>
                    <li><a class="dropdown-item" href="{% url 'cashback_history' %}">Отчет по операциям с кэшбэк</a></li>
                    <li><a class="dropdown-item" href="{% url 'client_history' %}">История покупок по клиенту</a></li>
                </ul>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Справочники
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'products' %}">Номенклатура</a></li>
                    <li><a class="dropdown-item" href="{% url 'clients' %}">Клиенты</a></li>
                    <li><a class="dropdown-item" href="#">Персонал</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Операции с сим картами
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'sim_return_list' %}">Ввод реестра на сдачу РФА</a></li>
                    <li><a class="dropdown-item" href="{% url 'activation_list' %}">Ввод реестра активаций</a></li>
                    <li><a class="dropdown-item" href="{% url 'sim_return_report' %}">Отчет по сданным РФА</a></li>
                </ul>
            </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Документы
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'remainder_input' %}" >Ввод остатков</a></li>
                    <li><a class="dropdown-item" href="{% url 'delivery_auto' %}" >Автоматический ввод поступления ТМЦ</a></li>
                    <li><a class="dropdown-item" href="{% url 'transfer_auto' %}" >Автоматический ввод перемещения ТМЦ</a></li>
                    <li><a class="dropdown-item" href="{% url 'revaluation_auto' %}" >Автоматический ввод переоценки ТМЦ</a></li>
                    <li><a class="dropdown-item" href="{% url 'identifier_delivery' %}" >Поступление ТМЦ</a></li>
                    <li><a class="dropdown-item" href="{% url 'identifier_recognition' %}">Оприходование ТМЦ</a></li>
                        
                    <li><a class="dropdown-item" href="{% url 'identifier_transfer' %}">Перемещение ТМЦ</a></li>
                    <li><a class="dropdown-item" href="{% url 'shop_choice_signing_off' %}">Списание ТМЦ</a></li>
                  
                    {% for group in request.user.groups.all %}
                    {% if group.name == 'admin' %}
                    <li><a class="dropdown-item" href="{% url 'shop_choice' %}">Продажа ТМЦ</a></li>
                    {% else %}
                   
                    <li><a class="dropdown-item" href="{% url 'identifier_sale' %}">Продажа ТМЦ</a></li>
                    {% endif %}
                    {% endfor %}

                    <!-- <li><a class="dropdown-item" href="{% url 'identifier_service' %}">Оказание услуг</a></li> -->
                    <li><a class="dropdown-item" href="{% url 'identifier_return' %}">Возврат ТМЦ</a></li>
                  
                    <li><a class="dropdown-item" href="{% url 'cash_off_salary' %}">Выплата заработной платы</a></li>
                    <li><a class="dropdown-item" href="{% url 'cash_off_expenses' %}">Хозяйственные расходы</a></li>
                    <li><a class="dropdown-item" href="{% url 'cash_receipt' %}">Приходный кассовый ордер</a></li>
                    <li><a class="dropdown-item" href="{% url 'cash_movement' %}">Перемещение ден.средств</a></li>
                    <li><a class="dropdown-item" href="{% url 'identifier_inventory' %}">Инвентаризация</a></li>
                   
                    </ul>
                </li>
                <a class="nav-link text-light" href="{% url 'tutorials' %}">Обучающие ролики</a>
                <a class="nav-link text-light" href="{% url 'search' %}">Поиск товара</a>
            </ul>
{% elif group.name == 'sales' %}
    <div class="collapse navbar-collapse">  
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Мой бонус и мотивация
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                       
                        <li><a class="dropdown-item" href="{% url 'motivation' %}">Мотивация на этот месяц</a></li>
                        <li><a class="dropdown-item" href="{% url 'my_bonus' %}">Мой бонус за текущий месяц</a></li>
                        <li><a class="dropdown-item" href="{% url 'cashback_rep' %}">Клиенты кэшбэк</a></li>
                    </ul>
                </li>
                <a class="nav-link text-light" href="{% url 'tutorials' %}">Обучающие ролики</a>
                <a class="nav-link text-light"href="{% url 'search' %}">Поиск товара</a>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Документы
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'identifier_sale' %}">Продажа ТМЦ</a></li>
                    <!-- <li><a class="dropdown-item" href="{% url 'identifier_service' %}">Оказание услуг</a></li> -->
                    <li><a class="dropdown-item" href="{% url 'identifier_return' %}">Возврат ТМЦ</a></li>
                    <li><a class="dropdown-item" href="{% url 'identifier_recognition' %}">Оприходование ТМЦ</a>
                    <li><a class="dropdown-item" href="{% url 'cash_movement' %}">Перемещение ден. средств</a></li>
                    <li><a class="dropdown-item" href="{% url 'cash_off_expenses' %}">Хозяйственные расходы</a></li>
                    <li><a class="dropdown-item" href="{% url 'cash_off_salary' %}">Выплата заработной платы</a></li>
                
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Отчеты
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'remainder_report' %}">Отчет по остаткам на дату</a></li>
                        <li><a class="dropdown-item" href="#">Отчет по кассе</a></li>
                        <li><a class="dropdown-item" href="#">Отчет по остаткам КЭО</a></li>
                    </ul>
                </li>
            </ul>
{% elif group.name == 'manager' %}

{% endif %}
{% endfor %}
        <div class="li navbar-brand m-auto">
                <h5>Сотрудник: {{request.user.first_name}} {{request.user.last_name}}</h5>
        </div>
        <div class="li navbar-brand m-auto">
            <h5>Торговая точка: {{shop}}</h5>
        </div>
    
        <div class="li navbar-brand m-auto">
        <a class="navbar-brand" href="{% url 'logout' %}">Выйти</a>
        </div>

        {{today}}
    </div>
    </div>
</nav>

