{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <h5>Мотивация на текущий месяц</h5>
    </div>
    <div class="row">
        <!-- Alerts ========================== -->
        {% include 'partials/_alerts.html' %}
        <!-- ========================================== -->

        
        <div class="menu">
            <div class="row">
                <div class="col-3">
                    <a href="{% url 'sale_interface' %}">
                        <input type="button" value="Закрыть" class="btn btn-sm btn-block btn-outline-dark clear_storage">
                    </a>
                </div>
            </div>
        </div>

      
    </div>
</div>


{% endblock %}