{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row mt-2">
        <h5>Страница находится в стадии разработки</h5>
    </div>
 
        <!-- Alerts ========================== -->
        {% include 'partials/_alerts.html' %}
        <!-- ========================================== -->

        
        <div class="menu border rounded">
            <div class="row m-2">
                <div class="col-3">
                    <a href="{% url 'sale_interface' %}" class="btn btn-sm btn-block btn-outline-dark">
                        Закрыть
                    </a>
                </div>
            </div>
        </div>

      
    </div>



{% endblock %}