{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="page_location">
        <!-- Alerts ========================== -->
        {% include 'partials/_alerts.html' %}
        <!-- ========================================== -->
        <div class="menu">
            <div class="row">
            <div class="col-3">
           <h5>Общая выручка/бонус за текущий месяц</h5>
            </div>
            <div class="col-3">
                <h5>{{total_sales}} руб.</h5>
            </div>
            <div class="col-3">
                <h5>{{total_bonus}} руб.</h5>
            </div>   
            </div>
        </div>
    <div class="log">
            <div class="row">
                <div class="col-3"><h5>Товарная группа</h5></div>
                <div class="col-3"><h5>Выручка, руб.</h5></div>
                <div class="col-3"><h5>Мой бонус, руб.</h5></div>
            </div>
        <div class="row">
            <div class="col-3">
                {% for category in categories %}
                <div class="row m-auto">{{category}}</div>
                {% endfor %}
            </div>
            <div class="col-3">
                {% for item in sales_array %}
                <div class="row m-auto">{{item}}</div>
                {% endfor %}
            </div>
                <div class="col-3">
                    {% for item in bonus_array %}
                    <div class="row m-auto">{{item}}</div>
                    {% endfor %}
                </div>
        </div>
 
    </div>

    <div class="menu">
        <div class="row">
            <div class="col-3">
                <a href="{% url 'sale_interface' %}">
                    <input type="button" value="Закрыть" class="btn btn-sm btn-block btn-outline-dark clear_storage">
                </a>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}