{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="page_location">
        <!-- Alerts ========================== -->
        {% include 'partials/_alerts.html' %}
        <!-- ========================================== -->
        <div class="menu">
            <div class="row">
            <div class="col">
           <h5>Мой бонус за текущий месяц</h5>
            </div>
            <div class="col">
                <h5> руб.</h5>
            </div>
        </div>
        </div>
    <div class="log">
            <div class="row">
                <div class="col"><h5>Товарная группа</h5></div>
                <div class="col"><h5>Выручка</h5></div>
                <div class="col"><h5>Мой бонус</h5></div>
            </div>
        <div class="row">
            <div class="col">
                <div class="row m-auto">Телефоны 10%</div>
                <div class="row m-auto">Телефоны 5%</div>
                <div class="row m-auto">Оборудование РТК</div>
                <div class="row m-auto">Аксы</div>
                <div class="row m-auto">Модемы</div>
                <div class="row m-auto">Тарифы</div>
                <div class="row m-auto">Страховки</div>
                <div class="row m-auto">Esset</div>
                <div class="row m-auto">Подписки</div>
                <div class="row m-auto">Услуги</div>
            </div>
        </div>
 
    </div>

    <div class="menu">
        <div class="row">
            <div class="col-3">
                <a href="{% url 'sale_interface' %}">
                    <input type="button" value="Закрыть" class="btn btn-sm btn-block btn-outline-dark clear_storage">
                </a>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}