{% extends 'base.html' %}

{% block content %}


<div class="container mt-5 mb-5 pt-5">
   
        <!-- Alerts ========================== -->
        {% include 'partials/_alerts.html' %}
        <!-- ========================================== -->
<div class="shop_choice_page">
<div class="shop_choice_form border rounded">
    <div class="col m-3">
        <form action="#" method='POST'>
            {% csrf_token %}
  
       
                <select name="shop" id="shop" class='form-control' required>
                    <option value="">Выберите ТТ, с которой продается ТМЦ</option>
                    {% for shop in shops %}
                    <option value="{{shop.id}}">{{shop.name}}</option>
                    {% endfor %}
                </select>
       
        
        
            <div class="row m-auto mt-3">
                <input type="submit" value="Выбрать" class="btn btn-outline-dark btn-block"> 
            </div>
        </form>
    </div>
</div>
</div>
</div>


{% endblock %}