{% extends 'base.html' %}
{% block content %}
<div class="container">
   
    <!-- <div class="page_location"> -->
        <!-- Alerts ========================== -->
        {% include 'partials/_alerts.html' %}
        <!-- ========================================== -->
<div class="log mt-2">
    <form action="{% url 'number_of_work_days' %}" method="POST">
        {% csrf_token %}
        <div class="row form-row m-auto">
            <div class="col-2">
                <input type="date" id='start_date' name="start_date" class='form-control' required>
            </div>
            <div class="col-2">
                <input type="date" id='end_date' name="end_date" class='form-control' value="{{values.end_date}}" required>
            </div>
                <div class="col-2">
                    <input type="submit" value="Посчитать" class="btn btn-sm btn-block btn-outline-dark form-control">
                </div>
        </div>
    </form>
</div>
        



<div class="log m-auto">
        Work Days Report: </br>
        
        {% for key, value in work_days.items %}
        {{key}}: {{value}}</br>
        {% endfor %}


 
</div>


{% endblock %}