{% extends 'base.html' %}
{% block content %}
<div class="hide">
<div class="container">
    <div class="row mt-5">
    <div class="col-6 border rounded m-auto payment_choice">
        <div class="row mt-3">
            <h3 class='text-center'>Выберите тип оплаты</h3>
        </div>

<!--==============================Modal Trigger for Paying Cash================== -->
<div class="row m-auto mt-2">
    <input type="submit" value="Оплата наличными" class="btn btn-sm btn-outline-dark btn_modal_cash">
</div>

<!-- ===========================Modal Body For Paying Cash================================= -->
<div class="enterModalCash">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Оплатить наличными</h5>
            </div>
            <div class="modal-body">
                <form action="{% url 'sale_input_cash' identifier.id client.id cashback_off %}" method="POST">
                    {% csrf_token %}

                    <div class="form-row">
                        <div class="col-2">
                            <label for="date">Дата</label>
                        </div>
                        <div class="col">
                            {% for group in request.user.groups.all %}
                            {% if group.name == 'admin' %}
                            <input type="datetime-local" class='form-control' id="dateTime" name="dateTime" value='{{current_time}}'><br>
                            {% else%}
                            <input type="datetime-local" class='form-control' id="dateTime" name="dateTime" value='{{current_time}}'
                                readonly><br>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>


                    <div class='form-inline'>
                        <div class="row m-2">
                            <div class="col-2"><label for="imei">IMEI</label></div>
                            <div class="col-3"><label for="name">Наименование</label></div>
                            <div class="col-2"><label for="quantity">Кол-во</label></div>
                            <div class="col-2"><label for="price">Цена</label></div>
                            <div class="col-2"><label for="sum">Сумма</label></div>
                        </div>
                    </div>

                    {% for register in registers %}

                    <div class="row m-2">
                        <div class="col-2">
                            <input type="text" class='form-control' id="imei" name="imei" value='{{register.product.imei}}' readonly>
                        </div>
                        <div class="col-4">
                            <input type="text" class='form-control' id="name" name="name" value='{{register.product.name}}' readonly>
                        </div>
                        <div class="col-1">
                            <input type="number" class='form-control' id="quantity" name="quantity" value={{register.quantity}} readonly>
                        </div>
                        <div class="col-2">
                            <input type="number" class='form-control' id="price" name="price" value='{{register.price}}' readonly>
                        </div>
                        <div class="col-2">
                            <input type="number" class='form-control' id="sub_total" name="sub_total" value="{{register.sub_total}}"
                                readonly>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="row m-2">
                        Общая сумма чека: {{sum}} руб.
                    </div>
                    <div class="row m-2">
                        Сумма к оплате с учетом кэшбэка {{sum_to_pay}} руб.
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn_close_cash" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-secondary ">Оплатить</button>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========================End of Modal Body For Paying Cash====================================== -->

<!-- =====================Trigger of paying Credit Modal======================= -->
<div class="row m-auto mt-2">
    <input type="submit" value="Оплата в кредит" class="btn btn-sm btn-outline-dark btn_modal_credit">
</div>
<!-- ==============================Modal Body For Paying Credit====================================== -->
<div class="enterModalCredit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Оплата в кредит</h5>
                <!-- <button type="button" class="btn_close"></button> -->
            </div>
            <div class="modal-body">
                <form action="{% url 'sale_input_credit' identifier.id client.id %}" method="POST">
                    {% csrf_token %}

                    <div class="form-row">
                        <div class="col-2">
                            <label for="date">Дата</label>
                        </div>
                        <div class="col">
                            {% for group in request.user.groups.all %}
                            {% if group.name == 'admin' %}
                            <input type="datetime-local" class='form-control' id="dateTime" name="dateTime"
                                value='{{current_time}}'><br>
                            {% else%}
                            <input type="datetime-local" class='form-control' id="dateTime" name="dateTime"
                                value='{{current_time}}' readonly><br>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class='form-inline'>
                        <div class="row m-2">
                            <div class="col-2"><label for="imei">IMEI</label></div>
                            <div class="col-3"><label for="name">Наименование</label></div>
                            <div class="col-2"><label for="quantity">Кол-во</label></div>
                            <div class="col-2"><label for="price">Цена</label></div>
                            <div class="col-2"><label for="sum">Сумма</label></div>
                        </div>
                    </div>
                    {% for register in registers %}

                    <div class="row m-2">

                        <div class="col-2">
                            <input type="text" class='form-control' id="imei" name="imei"
                                value='{{register.product.imei}}' readonly>
                        </div>
                        <div class="col-4">
                            <input type="text" class='form-control' id="name" name="name"
                                value='{{register.product.name}}' readonly>
                        </div>
                        <div class="col-1">
                            <input type="number" class='form-control' id="quantity" name="quantity"
                                value={{register.quantity}} readonly>
                        </div>
                        <div class="col-2">
                            <input type="number" class='form-control' id="price" name="price" value='{{register.price}}'
                                readonly>
                        </div>
                        <div class="col-2">
                            <input type="number" class='form-control' id="sub_total" name="sub_total"
                                value="{{register.sub_total}}" readonly>
                        </div>
                    </div>
                    {% endfor %}


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn_close_credit"
                            data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-secondary">Оплатить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ========================End of Modal Body For Paying Credit====================================== -->

<!-- =====================Trigger of paying Card Modal======================= -->
<div class="row m-auto mt-2">
    <input type="submit" value="Оплата картой" class="btn btn-sm  btn-outline-dark btn_modal_card ">
</div>

<!-- ==============================Modal Body For Paying Card====================================== -->
<div class="enterModalCard">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Оплата картой</h5>
                <!-- <button type="button" class="btn_close"></button> -->
            </div>
            <div class="modal-body">
                <form action="{% url 'sale_input_card' identifier.id client.id %}" method="POST">
                    {% csrf_token %}

                    <div class="form-row">
                        <div class="col-2">
                            <label for="date">Дата</label>
                        </div>
                        <div class="col">
                        {% for group in request.user.groups.all %}
                        {% if group.name == 'admin' %}
                            <input type="datetime-local" class='form-control' id="dateTime" name="dateTime"
                                value='{{current_time}}'><br>
                        {% else%}
                            <input type="datetime-local" class='form-control' id="dateTime" name="dateTime"
                                value='{{current_time}}' readonly><br>
                        {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                    

                    <div class='form-inline'>
                        <div class="row m-2">
                            <div class="col-2"><label for="imei">IMEI</label></div>
                            <div class="col-3"><label for="name">Наименование</label></div>
                            <div class="col-2"><label for="quantity">Кол-во</label></div>
                            <div class="col-2"><label for="price">Цена</label></div>
                            <div class="col-2"><label for="sum">Сумма</label></div>
                        </div>
                    </div>
                    {% for register in registers %}

                    <div class="row m-2">

                        <div class="col-2">
                            <input type="text" class='form-control' id="imei" name="imei"
                                value='{{register.product.imei}}' readonly>
                        </div>
                        <div class="col-4">
                            <input type="text" class='form-control' id="name" name="name"
                                value='{{register.product.name}}' readonly>
                        </div>
                        <div class="col-1">
                            <input type="number" class='form-control' id="quantity" name="quantity"
                                value='{{register.quantity}}' readonly>
                        </div>
                        <div class="col-2">
                            <input type="number" class='form-control' id="price" name="price" value='{{register.price}}'
                                readonly>
                        </div>
                        <div class="col-2">
                            <input type="number" class='form-control' id="sub_total" name="sub_total"
                                value="{{register.sub_total}}" readonly>
                        </div>
                    </div>
                    {% endfor %}


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn_close_card"
                            data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-secondary">Оплатить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ==========================End of Modal Body For Paying Card====================================== -->

<!-- =====================Trigger of paying Complex Modal======================= -->
<div class="row m-auto mt-2">
    <input type="submit" value="Сложная оплата" class="btn btn-sm btn-outline-dark btn_modal_complex ">
</div>

<!-- ============================Modal Body For Paying Complex====================================== -->
<div class="enterModalComplex">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Сложная оплата</h5>
                <!-- <button type="button" class="btn_close"></button> -->
            </div>
            <div class="modal-body">
                <form action="{% url 'sale_input_complex' identifier.id client.id %}" method="POST">
                    {% csrf_token %}

                    <div class="form-row">
                        <div class="col-2">
                            <label for="date">Дата</label>
                        </div>
                        <div class="col">
                        {% for group in request.user.groups.all %}
                        {% if group.name == 'admin' %}
                            <input type="datetime-local" class='form-control' id="dateTime" name="dateTime"
                                value='{{current_time}}'><br>
                        {% else%}
                            <input type="datetime-local" class='form-control' id="dateTime" name="dateTime"
                                value='{{current_time}}' readonly><br>
                        {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                  

                    <div class='form-inline'>
                        <div class="row m-2">
                            <div class="col-2"><label for="imei">IMEI</label></div>
                            <div class="col-3"><label for="name">Наименование</label></div>
                            <div class="col-2"><label for="quantity">Кол-во</label></div>
                            <div class="col-2"><label for="price">Цена</label></div>
                            <div class="col-2"><label for="sum">Сумма</label></div>
                        </div>
                    </div>
                    {% for register in registers %}

                    <div class="row m-2">

                        <div class="col-2">
                            <input type="text" class='form-control' id="imei" name="imei"
                                value='{{register.product.imei}}' readonly>
                        </div>
                        <div class="col-4">
                            <input type="text" class='form-control' id="name" name="name"
                                value='{{register.product.name}}' readonly>
                        </div>
                        <div class="col-1">
                            <input type="number" class='form-control' id="quantity" name="quantity"
                                value='{{register.quantity}}' readonly>
                        </div>
                        <div class="col-2">
                            <input type="number" class='form-control' id="price" name="price" value='{{register.price}}'
                                readonly>
                        </div>
                        <div class="col-2">
                            <input type="number" class='form-control' id="sub_total" name="sub_total"
                                value="{{register.sub_total}}" readonly>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="row mt-3">
                        <div class="col-8">
                            <label for="cash">Введите сумму для оплаты наличными:</label>
                        </div>
                        <div class="col-1">
                            <input type="number" id="cash" name="cash" value=0>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <label for="card">Введите сумму для оплаты картой:</label>
                        </div>
                        <div class="col-1">
                            <input type="number" id="card" name="card" value=0>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-8">
                            <label for="credit">Введите сумму для оплаты в кредит:</label>
                        </div>
                        <div class="col-1">
                            <input type="number" id="credit" name="credit" value=0>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn_close_complex"
                            data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-secondary">Оплатить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ==========================End of Modal Body For Paying Card====================================== -->

<div class="row m-auto mt-2 mb-2">
    <a href="{% url 'close_without_save' identifier.id %}" class="btn btn-sm btn-outline-dark">
        Закрыть без сохранения
    </a>
</div>


    </div>
    </div>
</div>
</div>



<script>


    const btn_modal_cash = document.querySelector('.btn_modal_cash')
    const enterModalCash = document.querySelector('.enterModalCash')
    const btn_close_cash = document.querySelector('.btn_close_cash')
    btn_modal_cash.addEventListener('click', openModalCash)
    btn_close_cash.addEventListener('click', closeModalCash)
    function openModalCash() {enterModalCash.classList.add('openModal')}
    function closeModalCash() {enterModalCash.classList.remove('openModal')}
    const btn_modal_credit = document.querySelector('.btn_modal_credit')
    const enterModalCredit = document.querySelector('.enterModalCredit')
    const btn_close_credit = document.querySelector('.btn_close_credit')
    btn_modal_credit.addEventListener('click', openModalCredit)
    btn_close_credit.addEventListener('click', closeModalCredit)

    function openModalCredit() {
        enterModalCredit.classList.add('openModal')
    }
    function closeModalCredit() {
        enterModalCredit.classList.remove('openModal')
    }


    const btn_modal_card = document.querySelector('.btn_modal_card')
    const enterModalCard = document.querySelector('.enterModalCard')
    const btn_close_card = document.querySelector('.btn_close_card')
    btn_modal_card.addEventListener('click', openModalCard)
    btn_close_card.addEventListener('click', closeModalCard)

    function openModalCard() {
        enterModalCard.classList.add('openModal')
    }
    function closeModalCard() {
        enterModalCard.classList.remove('openModal')
    }

    const btn_modal_complex = document.querySelector('.btn_modal_complex')
    const enterModalComplex = document.querySelector('.enterModalComplex')
    const btn_close_complex = document.querySelector('.btn_close_complex')
    btn_modal_complex.addEventListener('click', openModalComplex)
    btn_close_complex.addEventListener('click', closeModalComplex)

    function openModalComplex() {
        enterModalComplex.classList.add('openModal')
    }
    function closeModalComplex() {
        enterModalComplex.classList.remove('openModal')
    }




    const btn_cashback_off = document.querySelector('.btn_cashback_off')
    const cashback_off_modal = document.querySelector('.cashback_off_modal')
    const btn_close_cashback_off = document.querySelector('.btn_close_cashback_off')
    //btn_cashback_off.addEventListener('click', openModalCashbackOff)
    //btn_close_cashback_off.addEventListener('click', closeModalCashbackOff)

    function openModalCashbackOff() {
        cashback_off_modal.classList.add('openModal')
    }
    function closeModalCashbackOff() {
        cashback_off_modal.classList.remove('openModal')
    }

</script>
{% endblock %}