{% extends 'base.html' %}
{% block content %}
<div class="hide">
    <div class="container">

        


        <div class="modal-content">
            <!-- =====================Alert Messages Module=================== -->
            <div class="container mt-2">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    <!-- <button class="close" data-dismiss="alert">
                                        <small><sup>x</sup></small>
                                    </button> -->
                    {{ message }}
                </div>
                {% endfor%}
                {% endif%}
            </div>
            <!-- ===================End of Alert Messages Module================ -->

            <div class="modal-header">
                <h5>Cумма кэшбэка возможная к списанию</h5>
                <h5>{{cashback_off}} руб.</h5>          
            </div>

            
        <div class="modal-body">
                <form action="{% url 'sec_code_confirm' identifier.id client.id %}" method="POST"   class='form-inline cashback_form'>
                    {% csrf_token %}
                    <input type="text" id="code_string" name="code_string" value="{{code_string}}" hidden><br>
                    <!-- <label for="code"><h5>Введите код:</h5></label> -->
                    <input type="text" id="code" name="code" class='form-control' placeholder="Введите код">

    
                    <div class="row m-auto mt-2">
                        <input type="submit" value="Отправить код" class="btn btn-sm btn-outline-dark code_button ">
                    </div>
                </form>
                    <div class="row m-auto mt-2">
                        <!-- при нажатии на кнопку обновляет страницу через js -->
                        <input type="button" value="Запросить код еще раз" class="btn btn-sm btn-outline-dark code_update ">
                    </div>
         
            <div class="row m-auto mt-2 mb-2">
                <a href="{% url 'close_without_save' identifier.id %}" class="btn btn-sm btn-outline-dark">
                    Закрыть без сохранения
                </a>
            </div>

            {{code_string}}

        </div>


        </div>
    </div>
</div>
<script>
console.log('JS works')

    //cancel uploading a page
    //window.addEventListener('beforeunload', (event) => {
        //event.preventDefault();
    //   alert('skjdkfjskdf')
        // Chrome requires returnValue to be set.
    //    event.returnValue = '';
    //});
  
    const cashback_form = document.querySelector('.cashback_form')
    const code_button = document.querySelector('.code_button')
    const code_update = document.querySelector('.code_update')

    cashback_form.addEventListener('submit', blockButton3)
    function blockButton3() {
            code_button.disabled = true;
        }
    //обновляет страницу при нажатии на кнопку
    code_update.addEventListener('click', update_code)
    function update_code () {
        window.location.reload()
    }

console.log('JS finished')
</script>

{% endblock %}